---
import Layout from "@/components/layout/Layout.astro";
import AppHomeView from "@/assets/download/app-home-view.png";
import { Image } from "astro:assets";

import AppBenefitCard from "@/components/ui/AppBenefitCard.astro";
import AppInformation from "@/components/ui/AppInformation.astro";

import { BENEFIT_DATA } from "@/constants/app-benefits";
import Socials from "@/components/ui/Socials.astro";
import SphereDecoration from "@/components/ui/SphereDecoration.astro";
import env from "@/config";
import { getLocaleFromUrl, createTranslator } from "@/utils/i18n";
import type { SEOProps } from "astro-seo";
import defaultMetadata from "@/constants/default-metadata";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const metadata: SEOProps = {
  ...defaultMetadata,
  title: t("account.meta.title"),
  description: t("account.meta.description"),
  canonical: `${env.SITE_BASE_URL}/account`,
};
---

<Layout {...metadata}>
  <section
    class="relative overflow-hidden pt-[74px] pb-16 lg:pt-[104px] lg:pb-[169px] xl:pb-[253px]"
  >
    <SphereDecoration
      class="absolute top-[23rem] -right-[4rem] -z-10 lg:top-[14rem] lg:left-[33%]"
      variant="16"
      size={273}
    />
    <SphereDecoration
      class="absolute top-[42%] -left-[10rem] -z-10 lg:hidden"
      variant="5"
      size={422}
    />
    <SphereDecoration
      class="absolute -right-[11rem] bottom-[14rem] -z-10 lg:left-[30%]"
      variant="11"
      size={422}
    />

    <div class="lg:max-w-content lg:mx-auto xl:flex xl:gap-14">
      <div class="flex flex-col gap-10">
        <AppInformation
          customTitle={t("account.title")}
          customTagline={t("account.tag")}
          asMain
        />

        <div class="flex flex-col gap-10 lg:flex-row lg:gap-8">
          <div
            class="mx-auto max-w-[400px] px-[30px] lg:order-2 lg:max-w-[500px] lg:px-0 xl:hidden"
          >
            <Image src={AppHomeView} alt="App's home view" />
          </div>

          <div
            class="flex flex-col gap-8 px-5 lg:order-1 lg:grid lg:grid-cols-1 xl:grid-cols-2 xl:px-0"
          >
            {
              BENEFIT_DATA.map((data) => (
                <AppBenefitCard
                  class="lg:w-[352px] xl:even:translate-y-24"
                  title={t(data.title)}
                  content={t(data.content)}
                />
              ))
            }
          </div>
        </div>
      </div>

      <div class="hidden lg:w-[348px] xl:block">
        <Image src={AppHomeView} alt="App's home view" />
      </div>
    </div>
  </section>

  <Socials />
</Layout>

<script is:inline>
  const APP_LINKS = {
    android:
      "https://play.google.com/store/apps/details?id=com.quantus.wallet&pcampaignid=web_share",
    ios: "https://apps.apple.com/id/app/quantus/id6747967405",
  };

  function isAndroid() {
    const userAgent = navigator.userAgent || navigator.vendor || window.opera;

    return /android/i.test(userAgent);
  }

  const androidDownloadEl = document.getElementById("android-download");
  const referralContentEl = document.getElementById("referral-content");

  const params = new URLSearchParams(location.search);
  const referralCode = params.get("referralCode");

  const androidDownloadLink =
    APP_LINKS.android + `&referrer=referral_code%3D${referralCode}`;

  // Redirect Android users to Google Play Store
  if (isAndroid()) {
    window.location.href = androidDownloadLink;
  }

  if (androidDownloadEl && referralContentEl && referralCode) {
    referralContentEl.innerText = referralCode;
    androidDownloadEl.href = androidDownloadLink;
  }
</script>
