---
import Layout from "@/components/layout/Layout.astro";
import AppHomeView from "@/assets/download/app-home-view.png";
import { Image } from "astro:assets";

import AppBenefitCard from "@/components/ui/AppBenefitCard.astro";
import AppInformation from "@/components/ui/AppInformation.astro";

import { BENEFIT_DATA } from "@/constants/app-benefits";
import Socials from "@/components/ui/Socials.astro";
import SphereDecoration from "@/components/ui/SphereDecoration.astro";
import env from "@/config";
import { getLocaleFromUrl, createTranslator } from "@/utils/i18n";
import type { SEOProps } from "astro-seo";
import { JsonLdGraph } from "@/utils/build-json-ld";
import { APP_LINKS } from "@/constants/app-links";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const metadata: SEOProps = {
  title: "App Download",
  canonical: `${env.SITE_BASE_URL}/app`,
};

const jsonLd = JsonLdGraph({
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      itemListElement: [
        {
          "@type": "ListItem",
          position: 1,
          name: "Home",
          item: `${env.SITE_BASE_URL}`,
        },
        {
          "@type": "ListItem",
          position: 2,
          name: metadata.title,
          item: metadata.canonical as string,
        },
      ],
    },
    {
      "@id": `${env.SITE_BASE_URL}/app/ios`,
      "@type": "MobileApplication",
      name: "Quantus",
      description:
        "The post-quantum secure crypto wallet for the Quantus Network. Enjoy instant, reversible transactions and HD multi-account management.",
      operatingSystem: "iOS",
      applicationCategory: "FinanceApplication",
      installUrl: APP_LINKS.ios,
      publisher: {
        "@type": "Organization",
        "@id": env.SITE_BASE_URL,
      },
    },
    {
      "@id": `${env.SITE_BASE_URL}/app/android`,
      "@type": "MobileApplication",
      name: "Quantus",
      description:
        "The post-quantum secure crypto wallet for the Quantus Network. Enjoy instant, reversible transactions and HD multi-account management.",
      operatingSystem: "Android",
      applicationCategory: "FinanceApplication",
      installUrl: APP_LINKS.android,
      publisher: {
        "@type": "Organization",
        "@id": env.SITE_BASE_URL,
      },
    },
  ],
});
---

<Layout {...metadata} jsonLd={jsonLd}>
  <section
    class="relative overflow-hidden pt-[74px] pb-16 lg:pt-[104px] lg:pb-[169px] xl:pb-[253px]"
  >
    <SphereDecoration
      class="absolute top-[23rem] -right-[4rem] -z-10 lg:top-[14rem] lg:left-[33%]"
      variant="16"
      size={273}
    />
    <SphereDecoration
      class="absolute top-[42%] -left-[10rem] -z-10 lg:hidden"
      variant="5"
      size={422}
    />
    <SphereDecoration
      class="absolute -right-[11rem] bottom-[14rem] -z-10 lg:left-[30%]"
      variant="11"
      size={422}
    />

    <div class="lg:max-w-content lg:mx-auto xl:flex xl:gap-14">
      <div class="flex flex-col gap-10">
        <AppInformation asMain />

        <div class="flex flex-col gap-10 lg:flex-row lg:gap-8">
          <div
            class="mx-auto max-w-[400px] px-[30px] lg:order-2 lg:max-w-[500px] lg:px-0 xl:hidden"
          >
            <Image src={AppHomeView} alt="App's home view" />
          </div>

          <div
            class="flex flex-col gap-8 px-5 lg:order-1 lg:grid lg:grid-cols-1 xl:grid-cols-2 xl:px-0"
          >
            {
              BENEFIT_DATA.map((data) => (
                <AppBenefitCard
                  class="lg:w-[352px] xl:even:translate-y-24"
                  title={t(data.title)}
                  content={t(data.content)}
                />
              ))
            }
          </div>
        </div>
      </div>

      <div class="hidden lg:w-[348px] xl:block">
        <Image src={AppHomeView} alt="App's home view" />
      </div>
    </div>
  </section>

  <Socials />
</Layout>
