---
import { Image } from "astro:assets";

import type { Props as ProfileData } from "./ProfileCard.astro";
import type { Props as ExtraData } from "./ExtraCard.astro";
import Button from "@/components/ui/Button.astro";
import Separator from "@/components/ui/Separator.astro";
import SocialX from "@/assets/socials/social-x.svg";
import SocialGithub from "@/assets/socials/social-github.svg";
import { Globe } from "@lucide/astro";

import Chris from "@/assets/teams/chris-avatar.png";
import Joe from "@/assets/teams/joe-avatar.png";
import Nik from "@/assets/teams/nik-avatar.png";
import Cezary from "@/assets/teams/cezary-avatar.png";
import ProfileCard from "./ProfileCard.astro";
import {
  createTranslator,
  getLocaleFromUrl,
  getLocalizedPath,
} from "@/utils/i18n";
import ExtraCard from "./ExtraCard.astro";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const profileData: (ProfileData & {
  social: { href: string; type: string };
})[] = [
  {
    name: "Joe Mattia",
    title: "Chief Operating Officer",
    avatar: {
      alt: "Joe Mattia's avatar",
      src: Joe,
    },
    social: { href: "https://x.com/joemattia", type: "x" },
  },
  {
    name: "Nikolaus Heger",
    title: "Senior Software Engineer",
    avatar: {
      alt: "Nikolaus Heger's avatar",
      src: Nik,
    },
    social: {
      href: "https://github.com/n13",
      type: "github",
    },
  },
  {
    name: "Cezary Olborski",
    title: "Senior Software Engineer",
    avatar: {
      alt: "Cezary Olborski's avatar",
      src: Cezary,
    },
    social: {
      href: "https://github.com/czareko",
      type: "github",
    },
  },
];

const extraProfiles: ExtraData[] = [
  {
    name: "Balaji Srinivasan",
    title: "Key Investor",
    subTitles: [
      "Author of The Network State.",
      "Founder of The Network School.",
    ],
    social: {
      href: "https://x.com/balajis",
      type: "x",
    },
  },
  {
    name: "Raghav Gulati",
    title: "Strategic Advisor",
    subTitles: ["CEO Coinlist"],
    social: {
      href: "https://x.com/rargulati",
      type: "x",
    },
  },
];
---

<section
  id="teams"
  class="bg-team relative px-4 py-[100px] min-[366px]:px-[30px] lg:px-[124px]"
>
  <Separator class="absolute top-0 left-0" variant="2" />

  <div class="max-w-content mx-auto flex flex-col gap-[50px]">
    <div class="flex flex-col xl:flex-row xl:items-end xl:justify-between">
      <div class="mb-[30px] lg:max-w-[682px] xl:mb-0">
        <h2 class="font-medium-title-mobile mb-5">{t("team.title")}</h2>

        <p class="font-body">{t("team.description")}</p>
      </div>

      <Button
        class="lg:w-[295px]"
        href={getLocalizedPath(locale, "/contact")}
        target="_self"
        rel=""
        variant="outline">{t("team.cta")}</Button
      >
    </div>

    <figure class="lg:flex lg:justify-between lg:gap-5">
      <div class="flex flex-col gap-5 lg:justify-between">
        <Image
          class={"size-full max-w-[390px] mx-auto lg:hidden"}
          src={Chris}
          alt="Christopher Smith's avatar"
          layout="full-width"
        />

        <figcaption class="flex w-[280px] flex-col gap-2">
          <a
            href="https://x.com/yuvilightman"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Christopher Smith's X profile"
            class="text-button-icon bg-button-icon-body flex size-7 cursor-pointer items-center justify-center rounded-full hover:brightness-125 min-[360px]:size-8"
          >
            <SocialX />
          </a>
          <h3 class="font-small-title">Christopher Smith</h3>
          <Separator class="h-[0.5px]" />
          <p class="font-large-body text-text-content-secondary">
            Chief Executive Officer
          </p>
        </figcaption>

        <div class="lg:max-w-[756px]">
          <p class="font-body text-white">
            {t("team.members.chris.bio")}
          </p>

          <br />

          <ul class="font-body list-disc ps-4 text-white">
            <li>{t("team.members.chris.achievements.0")}</li>
            <li>{t("team.members.chris.achievements.1")}</li>
            <li>{t("team.members.chris.achievements.2")}</li>
            <li>{t("team.members.chris.achievements.3")}</li>
            <li>{t("team.members.chris.achievements.4")}</li>
          </ul>
        </div>
      </div>

      <Image
        class={"size-full max-w-[305px] hidden lg:block"}
        src={Chris}
        alt="Christopher Smith's avatar"
        layout="full-width"
      />
    </figure>

    <div
      class="flex flex-col gap-[42px] md:flex-row md:flex-wrap md:justify-center md:gap-y-10"
    >
      {
        profileData.map((data) => (
          <ProfileCard {...data}>
            <a
              slot="social"
              href={data.social.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`${data.name}'s ${data.social.type} profile`}
              class="text-button-icon bg-button-icon-body flex size-7 cursor-pointer items-center justify-center rounded-full hover:brightness-125 min-[360px]:size-8"
            >
              {data.social.type === "x" && <SocialX />}
              {data.social.type === "github" && <SocialGithub />}
              {data.social.type === "website" && <Globe />}
            </a>
          </ProfileCard>
        ))
      }
    </div>

    <div
      class="mt-16 flex flex-col gap-[50px] md:flex-row md:flex-wrap md:justify-center md:gap-x-[76px] md:gap-y-10"
    >
      {extraProfiles.map((data) => <ExtraCard {...data} />)}
    </div>
  </div>
</section>
